<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Welcome to the <%= title %></p>
    <p>Click <a href="/form">here</a> to leave your own mark</p>
    <h3>History</h3>
    <ul>
      <% messages.forEach(function(message) { %>
      <li><%= message.user %>: <%= message.text %></li>
      <% }); %>
    </ul>
  </body>
</html>
